@model CummingsAssessment.Models.AgreementViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Agreement</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="~/Content/styles.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        @using (Html.BeginForm("Agreement", "Home", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            /* Providing Agency Information Section */
            <div class="row">
                <div id="providingAgencyIcon" class="col-md-1">
                    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         width="60pt" height="60pt" viewBox="0 0 575.293 575.292" xml:space="preserve">
                    <g>

                    <path d="M567.152,290.817l-46.389-1.934v-51.445c0-3.941-2.73-7.381-6.586-8.262l-76.402-17.503v-68.385
		                            c0-3.415-2.068-6.5-5.213-7.821L290.896,76.433c0,0-1.42-0.625-3.244-0.637c-1.824-0.012-3.28,0.637-3.28,0.637l-141.666,59.034
		                            c-3.158,1.31-5.214,4.394-5.214,7.821v68.385L61.09,229.176c-3.855,0.881-6.585,4.309-6.585,8.262v51.445l-46.39,1.934
		                            C3.574,291,0,294.734,0,299.275v98.691c0,3.659,2.326,6.891,5.79,8.041l279.17,93.062c0,0,1.212,0.403,2.644,0.428
		                            c1.443,0.013,2.717-0.428,2.717-0.428l279.17-93.062c3.465-1.15,5.803-4.382,5.803-8.029v-98.703
		                            C575.279,294.734,571.693,291,567.152,290.817z M57.785,374.759c0,0.856-0.379,1.664-1.041,2.203
		                            c-0.514,0.403-1.138,0.637-1.787,0.637c-0.196,0-0.392-0.024-0.575-0.062l-40.722-8.494c-1.31-0.282-2.252-1.42-2.252-2.767
		                            v-16.818c0-0.808,0.355-1.603,0.979-2.142c0.612-0.526,1.444-0.771,2.252-0.661l40.723,5.937c1.383,0.208,2.411,1.396,2.411,2.803
		                            v19.364H57.785z M57.785,336.056c0,0.783-0.331,1.542-0.906,2.081c-0.526,0.478-1.212,0.734-1.909,0.734
		                            c-0.074,0-0.159,0-0.233-0.013l-40.722-3.391c-1.469-0.122-2.595-1.334-2.595-2.803v-16.817c0-0.747,0.306-1.481,0.845-2.008
		                            c0.539-0.538,1.261-0.832,2.032-0.808l40.723,0.845c1.542,0.036,2.766,1.285,2.766,2.815V336.056z M92.559,360.475
		                            c0,0.82-0.355,1.604-0.979,2.142c-0.514,0.44-1.175,0.698-1.848,0.698c-0.134,0-0.269-0.013-0.404-0.037l-18.311-2.668
		                            c-1.396-0.208-2.423-1.396-2.423-2.791v-40.771c0-0.759,0.306-1.481,0.844-2.02c0.539-0.526,1.261-0.82,2.044-0.796l18.311,0.38
		                            c1.542,0.036,2.766,1.272,2.766,2.815V360.475L92.559,360.475z M92.559,295.897c0,1.518-1.2,2.766-2.705,2.827l-18.311,0.759
		                            c-0.037,0-0.073,0-0.123,0c-0.734,0-1.432-0.281-1.958-0.796c-0.551-0.526-0.869-1.272-0.869-2.031v-40.772
		                            c0-1.383,1.003-2.558,2.362-2.791l18.311-3.047c0.82-0.147,1.652,0.098,2.289,0.624c0.637,0.539,1.004,1.322,1.004,2.167V295.897z
		                                M136.121,366.839c0,0.809-0.355,1.604-0.979,2.143c-0.526,0.44-1.175,0.686-1.848,0.686c-0.135,0-0.27-0.013-0.404-0.024
		                            l-23.084-3.366c-1.383-0.208-2.411-1.384-2.411-2.803v-45.606c0-0.759,0.306-1.493,0.844-2.02c0.539-0.539,1.273-0.845,2.032-0.809
		                            l23.084,0.49c1.53,0.024,2.766,1.272,2.766,2.815V366.839L136.121,366.839z M136.121,294.073c0,1.518-1.187,2.767-2.705,2.815
		                            l-23.084,0.967c-0.037,0-0.073,0-0.123,0c-0.722,0-1.432-0.281-1.958-0.783c-0.551-0.538-0.869-1.273-0.869-2.044v-45.607
		                            c0-1.383,1.003-2.558,2.362-2.791l23.072-3.843c0.82-0.135,1.652,0.098,2.289,0.636c0.636,0.539,1.003,1.322,1.003,2.154v48.495
		                            H136.121z M267.505,385.996c0,0.808-0.355,1.604-0.979,2.13c-0.514,0.452-1.175,0.697-1.848,0.697
		                            c-0.134,0-0.269-0.012-0.416-0.024l-105.19-15.349c-1.383-0.208-2.412-1.384-2.412-2.804v-51.763c0-0.759,0.306-1.493,0.845-2.02
		                            c0.551-0.538,1.285-0.845,2.032-0.808l105.191,2.203c1.53,0.024,2.766,1.272,2.766,2.815v64.921H267.505z M267.505,288.601
		                            c0,1.519-1.188,2.767-2.705,2.815l-105.19,4.382c-0.037,0-0.074,0-0.11,0c-0.734,0-1.432-0.269-1.958-0.783
		                            c-0.551-0.526-0.869-1.272-0.869-2.031v-51.776c0-1.383,1.003-2.558,2.362-2.791l105.19-17.54c0.82-0.135,1.652,0.098,2.289,0.636
		                            c0.637,0.539,1.004,1.322,1.004,2.154v64.933H267.505z M267.505,191.208c0,1.322-0.906,2.46-2.191,2.766l-105.19,24.113
		                            c-0.208,0.037-0.417,0.062-0.625,0.062c-0.636,0-1.261-0.208-1.763-0.612c-0.673-0.539-1.064-1.346-1.064-2.215v-51.775
		                            c0-1.199,0.759-2.264,1.885-2.656l105.19-37.259c0.869-0.306,1.824-0.184,2.57,0.355c0.747,0.526,1.188,1.383,1.188,2.313V191.208z
		                                M353.943,380.083c0,1.396-1.027,2.595-2.41,2.803l-40.527,5.912c-0.135,0.013-0.281,0.024-0.416,0.024
		                            c-0.674,0-1.322-0.232-1.848-0.697c-0.625-0.526-0.98-1.31-0.98-2.13v-64.934c0-1.542,1.225-2.791,2.768-2.815l40.539-0.844
		                            c0.758-0.05,1.492,0.269,2.031,0.795c0.539,0.539,0.844,1.273,0.844,2.02V380.083z M353.943,290.291
		                            c0,0.783-0.305,1.506-0.869,2.044c-0.525,0.502-1.234,0.796-1.957,0.796c-0.037,0-0.074,0-0.123-0.012l-40.539-1.689
		                            c-1.506-0.062-2.705-1.298-2.705-2.815V223.68c0-0.82,0.367-1.616,1.004-2.154s1.469-0.759,2.289-0.636l40.539,6.756
		                            c1.359,0.22,2.361,1.408,2.361,2.803V290.291L353.943,290.291z M353.943,200.51c0,0.857-0.391,1.677-1.064,2.203
		                            c-0.502,0.404-1.125,0.625-1.762,0.625c-0.209,0-0.43-0.024-0.637-0.074l-40.539-9.29c-1.285-0.293-2.191-1.432-2.191-2.766
		                            v-64.921c0-0.918,0.441-1.787,1.199-2.313c0.748-0.539,1.715-0.673,2.57-0.355l40.539,14.357c1.127,0.392,1.885,1.469,1.885,2.668
		                            V200.51L353.943,200.51z M418.607,370.646c0,1.408-1.027,2.596-2.41,2.804l-29.988,4.369c-0.135,0.024-0.27,0.037-0.404,0.037
		                            c-0.674,0-1.334-0.245-1.848-0.698c-0.625-0.538-0.98-1.31-0.98-2.142v-55.521c0-1.542,1.236-2.803,2.768-2.815l29.988-0.637
		                            c0.77-0.061,1.48,0.282,2.031,0.809c0.539,0.525,0.844,1.26,0.844,2.02V370.646z M418.607,292.996c0,0.759-0.305,1.506-0.869,2.032
		                            c-0.525,0.514-1.236,0.783-1.957,0.783c-0.037,0-0.074,0-0.111,0l-29.988-1.248c-1.518-0.062-2.717-1.311-2.717-2.828v-55.521
		                            c0-0.832,0.367-1.628,1.004-2.154c0.637-0.539,1.469-0.783,2.289-0.636l29.988,4.994c1.359,0.233,2.361,1.396,2.361,2.791V292.996
		                            L418.607,292.996z M418.607,215.32c0,0.857-0.391,1.677-1.064,2.215c-0.514,0.404-1.125,0.612-1.762,0.612
		                            c-0.209,0-0.416-0.025-0.625-0.062l-29.988-6.879c-1.285-0.293-2.203-1.444-2.203-2.766v-55.521c0-0.918,0.453-1.787,1.199-2.313
		                            c0.76-0.526,1.715-0.661,2.57-0.355l29.988,10.625c1.127,0.392,1.885,1.457,1.885,2.656V215.32L418.607,215.32z M506.676,357.807
		                            c0,1.395-1.029,2.595-2.424,2.79l-61.873,9.021c-0.135,0.012-0.281,0.024-0.416,0.024c-0.674,0-1.336-0.232-1.85-0.686
		                            c-0.623-0.539-0.979-1.322-0.979-2.143v-24.247c0-1.469,1.125-2.692,2.582-2.827l61.873-5.153c0.783-0.073,1.566,0.208,2.143,0.747
		                            c0.576,0.525,0.918,1.285,0.918,2.08v20.393H506.676z M506.676,317.036c0,1.542-1.236,2.803-2.768,2.814l-61.873,1.298
		                            c-0.012,0-0.037,0-0.061,0c-0.734,0-1.445-0.281-1.982-0.796c-0.539-0.538-0.846-1.272-0.846-2.02v-24.247
		                            c0-0.759,0.307-1.506,0.869-2.032c0.551-0.538,1.311-0.808,2.068-0.783l61.873,2.583c1.518,0.061,2.705,1.297,2.705,2.814v20.368
		                            H506.676z M506.676,276.263c0,0.796-0.344,1.567-0.943,2.105c-0.514,0.465-1.199,0.734-1.885,0.734
		                            c-0.098,0-0.195-0.012-0.293-0.024l-61.875-6.438c-1.432-0.147-2.533-1.358-2.533-2.803V245.59c0-0.82,0.367-1.616,1.004-2.154
		                            s1.469-0.759,2.289-0.636l61.873,10.318c1.359,0.233,2.363,1.396,2.363,2.791V276.263L506.676,276.263z M544.938,370.23
		                            c0,1.322-0.943,2.485-2.252,2.767l-14.174,2.95c-0.197,0.036-0.381,0.061-0.576,0.061c-0.648,0-1.273-0.232-1.787-0.636
		                            c-0.66-0.539-1.039-1.335-1.039-2.191v-18.887c0-1.395,1.027-2.595,2.422-2.79l14.174-2.069c0.809-0.122,1.641,0.135,2.254,0.661
		                            c0.623,0.539,0.979,1.322,0.979,2.143V370.23z M544.938,334.245c0,1.469-1.127,2.692-2.596,2.803l-14.174,1.188
		                            c-0.072,0.013-0.158,0.013-0.232,0.013c-0.709,0-1.395-0.258-1.908-0.747c-0.576-0.539-0.92-1.285-0.92-2.081v-18.886
		                            c0-1.53,1.236-2.791,2.768-2.815l14.174-0.294c0.746-0.049,1.492,0.27,2.043,0.808c0.539,0.526,0.846,1.261,0.846,2.008V334.245z
		                                M569.625,365.078c0,1.334-0.941,2.496-2.252,2.766l-11.799,2.46c-0.197,0.037-0.381,0.062-0.576,0.062
		                            c-0.648,0-1.273-0.22-1.787-0.637c-0.66-0.538-1.039-1.334-1.039-2.19v-17.186c0-1.407,1.027-2.595,2.422-2.79l11.787-1.727
		                            c0.809-0.122,1.641,0.123,2.266,0.661c0.623,0.539,0.979,1.31,0.979,2.143V365.078L569.625,365.078z M569.625,332.188
		                            c0,1.457-1.125,2.693-2.582,2.804l-11.799,0.979c-0.074,0.013-0.16,0.013-0.234,0.013c-0.709,0-1.383-0.257-1.908-0.734
		                            c-0.576-0.539-0.918-1.298-0.918-2.081v-17.185c0-1.543,1.236-2.804,2.766-2.828l11.799-0.257c0.76-0.049,1.494,0.27,2.033,0.808
		                            c0.537,0.526,0.844,1.261,0.844,2.008V332.188z" />







                            </g>
                    </svg>
                </div>
                <div class="col-md">
                    <div id="ProvidingAgencyInformation" class="row pt-5">
                        <h1 class="redheader">Providing Agency Information</h1>
                        <div class="col-md-12 form-horizontal w-100">
                            <div class="row">
                                <div class="col-md">
                                    <div class="form-group">
                                        @Html.EditorFor(model => model.ProvidingAgency.AgentName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Providing Agent Name" } })
                                        @Html.ValidationMessageFor(model => model.ProvidingAgency.AgentName, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-4 pl-md-0">
                                    <div class="form-group">
                                        @Html.EditorFor(model => model.ProvidingAgency.Date, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
                                        @Html.ValidationMessageFor(model => model.ProvidingAgency.Date, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md">
                                    <div class="form-group">
                                        @Html.EditorFor(model => model.ProvidingAgency.AgencyName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Providing Agency" } })
                                        @Html.ValidationMessageFor(model => model.ProvidingAgency.AgencyName, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-4 pl-md-0">
                                    <div class="form-group">
                                        @Html.EditorFor(model => model.ProvidingAgency.MobileNumber, new { htmlAttributes = new { @class = "form-control", @placeholder = "Mobile Number" } })
                                        @Html.ValidationMessageFor(model => model.ProvidingAgency.MobileNumber, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="row justify-content-between">
                                <div class="col-md">
                                    <div class="form-group input-group">
                                        @Html.EditorFor(model => model.ProvidingAgency.City, new { htmlAttributes = new { @class = "form-control", @placeholder = "City" } })
                                        @Html.ValidationMessageFor(model => model.ProvidingAgency.City, "", new { @class = "text-danger" })
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                                            <div id="providingAgencyCityDropdown" class="dropdown-menu dropdown-menu-right">
                                                <input class="a dropdown-item" href="#" value="Type in the box..." style="cursor: pointer;" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2 pl-md-0">
                                    <div class="form-group input-group">
                                        @Html.EditorFor(model => model.ProvidingAgency.State, new { htmlAttributes = new { @class = "form-control", @placeholder = "State" } })
                                        @Html.ValidationMessageFor(model => model.ProvidingAgency.State, "", new { @class = "text-danger" })
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                                            <div id="providingAgencyStateDropdown" class="dropdown-menu dropdown-menu-right">
                                                <input class="a dropdown-item" href="#" value="Type in the box..." style="cursor: pointer;" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md pl-md-0">
                                    <div class="form-group input-group">
                                        @Html.EditorFor(model => model.ProvidingAgency.County, new { htmlAttributes = new { @class = "form-control", @placeholder = "County" } })
                                        @Html.ValidationMessageFor(model => model.ProvidingAgency.County, "", new { @class = "text-danger" })
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                                            <div id="providingAgencyCountyDropdown" class="dropdown-menu dropdown-menu-right">
                                                <input class="a dropdown-item" href="#" value="Type in the box..." style="cursor: pointer;" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            /* Jail Information Section */
            <div class="row mb-md-4">
                <div id="jailIcon" class="col-md-1">
                    <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
                         width="55.000000pt" height="57.000000pt" viewBox="0 0 980.000000 982.000000"
                         preserveAspectRatio="xMidYMid meet">

                        <g transform="translate(0.000000,982.000000) scale(0.100000,-0.100000)"
                           fill="#000000" stroke="none">
                            <path style="fill:#8f7606;" d="M5570 9796 c-196 -44 -358 -134 -496 -277 -162 -168 -252 -371 -270
-609 l-6 -85 -132 0 c-72 0 -158 -7 -191 -14 -416 -92 -715 -417 -766 -833
-35 -293 80 -607 299 -809 172 -160 375 -244 612 -256 256 -12 502 77 683 247
196 183 299 396 314 645 l6 100 116 -4 c134 -4 221 9 340 51 45 16 84 28 86
26 1 -2 15 -32 30 -68 153 -352 493 -580 870 -582 66 -1 148 4 182 11 259 49
484 199 630 419 111 167 157 323 156 532 0 112 -5 152 -26 233 -74 278 -269
512 -529 632 -123 57 -208 76 -354 82 -150 6 -226 -4 -358 -48 -49 -16 -90
-28 -91 -27 -1 2 -20 42 -43 90 -45 98 -84 158 -155 240 -124 145 -325 262
-520 302 -91 19 -306 20 -387 2z m321 -526 c204 -63 334 -271 300 -477 -59
-349 -472 -492 -726 -252 -103 97 -139 190 -133 337 3 84 8 106 37 165 93 194
316 291 522 227z m1308 -569 c125 -39 218 -120 274 -239 30 -63 32 -74 32
-177 0 -103 -2 -114 -32 -177 -93 -197 -301 -296 -508 -243 -213 56 -354 271
-317 487 15 88 51 164 106 225 111 122 290 172 445 124z m-2392 -421 c194 -67
320 -278 284 -478 -33 -188 -182 -335 -366 -361 -189 -27 -370 70 -456 244
-33 67 -34 74 -34 185 0 109 2 119 32 183 96 201 328 299 540 227z" />
                            <path style="fill:#8f7606;" d="M3235 7104 c-148 -36 -323 -158 -408 -287 -19 -28 -162 -324 -317
-657 -155 -333 -283 -606 -284 -607 -1 -1 -54 -16 -116 -32 -383 -99 -717
-263 -1040 -511 -124 -96 -385 -358 -481 -485 -306 -403 -496 -858 -566 -1355
-13 -92 -17 -189 -17 -370 1 -283 19 -430 83 -684 234 -914 910 -1650 1798
-1956 885 -305 1846 -154 2605 410 l98 73 -43 49 c-79 93 -222 287 -287 390
-84 134 -225 414 -279 553 -23 60 -44 112 -46 114 -3 2 -43 -33 -90 -77 -300
-284 -753 -442 -1158 -403 -214 20 -361 59 -543 145 -447 212 -748 598 -856
1099 -32 147 -32 446 0 590 108 490 402 873 827 1082 226 110 392 152 635 162
411 15 783 -122 1100 -406 l66 -58 38 111 c92 268 158 403 284 586 61 88 111
149 430 528 67 79 134 165 151 190 l30 47 2 585 1 585 -418 197 c-729 343
-787 370 -863 389 -89 23 -247 24 -336 3z m999 -963 c77 -37 147 -110 184
-189 23 -49 27 -70 27 -152 0 -83 -3 -102 -28 -155 -37 -79 -114 -156 -191
-192 -54 -25 -72 -28 -161 -28 -89 0 -106 3 -158 29 -74 36 -147 109 -184 183
-25 53 -28 68 -28 163 0 96 2 110 29 160 34 67 107 144 161 172 74 39 116 48
203 44 68 -3 95 -10 146 -35z" />
                            <path style="fill:#8f7606;" d="M5907 7029 c-195 -48 -369 -184 -452 -354 -71 -145 -69 -114 -73
-890 l-3 -700 -93 -62 c-527 -354 -851 -914 -970 -1674 -76 -483 -53 -880 75
-1312 95 -317 288 -682 499 -942 340 -420 814 -746 1321 -910 511 -165 1084
-179 1594 -39 1067 293 1832 1207 1977 2364 19 151 16 555 -5 693 -87 566
-312 1035 -711 1481 -87 96 -257 252 -371 338 l-85 63 0 625 c-1 641 -8 830
-35 935 -40 155 -139 294 -247 348 -118 59 -74 57 -1258 56 -1036 0 -1089 -1
-1163 -20z m1334 -702 c62 -30 146 -112 177 -173 29 -57 46 -153 37 -219 -9
-73 -65 -183 -116 -230 -23 -21 -71 -51 -108 -69 -58 -27 -76 -31 -151 -30
-113 1 -180 27 -260 101 -84 77 -113 141 -118 257 -3 75 0 101 18 149 39 105
111 179 216 223 52 22 71 24 154 22 80 -3 105 -8 151 -31z m169 -1970 c570
-136 994 -536 1154 -1089 82 -283 73 -620 -24 -911 -171 -514 -604 -898 -1148
-1020 -83 -18 -129 -21 -312 -21 -186 -1 -228 2 -313 21 -413 94 -745 318
-973 658 -385 578 -337 1332 119 1866 194 227 491 411 782 484 145 37 225 44
420 41 159 -4 207 -8 295 -29z" />
                        </g>
                    </svg>
                </div>
                <div class="col-md">
                    <div id="JailInformation" class="row">
                        <h1 class="redheader">Jail Information</h1>
                        <div class="col-md-12 form-horizontal w-100">
                            <div class="row">
                                <div class="col-md">
                                    <div class="form-group">
                                        @Html.EditorFor(model => model.Jail.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Jail Name" } })
                                        @Html.ValidationMessageFor(model => model.Jail.Name, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md">
                                    <div class="form-group">
                                        @Html.EditorFor(model => model.Jail.City, new { htmlAttributes = new { @class = "form-control", @placeholder = "City" } })
                                        @Html.ValidationMessageFor(model => model.Jail.City, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-2 pl-md-0">
                                    <div class="form-group">
                                        @Html.EditorFor(model => model.Jail.State, new { htmlAttributes = new { @class = "form-control", @placeholder = "State" } })
                                        @Html.ValidationMessageFor(model => model.Jail.State, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md pl-md-0">
                                    <div class="form-group">
                                        @Html.EditorFor(model => model.Jail.County, new { htmlAttributes = new { @class = "form-control", @placeholder = "County" } })
                                        @Html.ValidationMessageFor(model => model.Jail.County, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            /* Bond Transfer Information Section */
            <div class="row mb-md-4">
                <div id="bondTransferIcon" class="col-md-1">
                    <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
                         width="130.000000pt" height="80.000000pt" viewBox="0 0 255.000000 340.000000"
                         preserveAspectRatio="xMidYMid meet">

                        <g transform="translate(-150.000000,340.000000) scale(0.100000,-0.100000)"
                           fill="#000000" stroke="none">

                            <path style="fill: #a4b8c3;" d="M117 3376 c-20 -8 -44 -20 -53 -27 -46 -38 -44 24 -44 -1539 0 -1621
-5 -1504 62 -1552 l33 -23 605 -3 c587 -2 605 -3 620 -22 10 -13 40 -24 92
-34 76 -15 79 -16 139 -81 67 -71 100 -87 127 -62 9 9 40 57 67 107 l50 90 94
-2 94 -3 54 -98 c74 -131 80 -132 181 -35 74 72 79 75 137 82 74 9 105 28 105
62 0 14 11 39 24 55 14 16 28 48 31 72 3 23 5 691 3 1484 l-3 1442 -21 28
c-12 15 -36 37 -55 48 -33 20 -54 20 -1169 22 -932 2 -1142 0 -1173 -11z
m2305 -104 c12 -12 15 -2913 3 -2909 -5 2 -44 63 -86 137 l-77 133 25 53 c92
202 9 445 -185 543 -83 42 -173 57 -255 44 -278 -47 -435 -340 -315 -590 l24
-51 -86 -146 -85 -146 -624 -1 c-344 0 -628 4 -633 9 -4 4 -8 660 -8 1457 0
1244 2 1451 14 1464 13 14 124 16 1147 14 623 -2 1136 -6 1141 -11z m-377
-2124 c67 -35 122 -91 154 -158 35 -74 36 -181 3 -256 -29 -64 -102 -136 -167
-166 -76 -34 -191 -32 -263 5 -257 135 -234 493 38 591 66 24 171 16 235 -16z
m-376 -628 c20 -17 60 -38 89 -48 29 -10 55 -22 58 -25 5 -4 -131 -259 -153
-286 -1 -2 -27 19 -57 47 -38 36 -63 52 -83 53 -66 1 -66 5 19 152 44 75 82
137 85 137 2 0 21 -14 42 -30z m605 -106 c83 -145 84 -154 23 -154 -20 0 -44
-15 -83 -52 -30 -28 -56 -49 -59 -47 -2 3 -40 68 -84 144 -76 135 -78 140 -58
149 72 28 140 62 154 78 9 10 19 18 22 18 3 0 41 -61 85 -136z m-348 -51 c20
-27 17 -33 -16 -33 -33 0 -35 3 -20 31 13 24 19 24 36 2z" />
                            <path style="fill: #eaeaea;" d="M456 3156 c-20 -18 -26 -33 -26 -65 0 -34 -6 -47 -39 -80 -36 -36
-90 -61 -131 -61 -40 0 -40 -12 -40 -1149 1 -842 4 -1101 13 -1116 7 -11 25
-22 42 -24 47 -5 98 -30 127 -62 23 -25 33 -51 41 -118 1 -8 16 -22 32 -32 27
-16 66 -18 411 -18 l381 -1 27 25 c30 28 32 42 11 72 -15 22 -17 22 -385 23
-204 0 -370 -3 -370 -8 0 -4 -10 -9 -22 -9 -17 -2 -19 0 -8 7 12 8 12 12 0 36
-27 50 -109 132 -150 148 l-40 16 0 1064 0 1064 43 21 c52 25 108 82 137 139
l22 42 744 0 c716 0 744 -1 753 -19 6 -10 8 -21 5 -23 -2 -3 2 -11 11 -18 8
-7 15 -18 15 -24 0 -6 16 -25 36 -41 20 -17 46 -38 57 -48 11 -10 31 -20 44
-23 l23 -6 0 -799 0 -798 24 -28 c24 -27 26 -27 53 -13 15 8 30 26 34 40 4 14
7 386 8 827 1 762 0 804 -17 833 -10 16 -22 27 -25 23 -4 -3 -7 -1 -7 5 0 7
-15 12 -36 12 -43 0 -108 43 -123 80 -6 14 -11 41 -13 60 -1 19 -11 43 -22 53
-18 16 -71 17 -817 17 l-798 0 -25 -24z" />
                            <path style="fill: #a4b8c3;" d="M843 2690 c-33 -14 -39 -47 -12 -76 l22 -24 422 0 c364 0 424 2 443
16 29 20 28 48 -4 73 -26 21 -37 21 -438 20 -226 0 -421 -4 -433 -9z" />
                            <path style="fill: #a4b8c3;" d="M577 2422 c-22 -24 -21 -45 1 -65 17 -16 80 -17 703 -17 603 0 687 2
707 16 27 19 29 60 3 74 -13 6 -253 10 -709 10 -655 0 -690 -1 -705 -18z" />
                            <path style="fill: #a4b8c3;" d="M755 2013 c-45 -11 -61 -57 -29 -84 19 -16 79 -15 99 1 21 17 19 54
-3 73 -19 17 -30 19 -67 10z" />
                            <path style="fill: #a4b8c3;" d="M1000 2007 c-33 -17 -37 -44 -9 -73 l22 -24 377 0 c208 0 392 3 410
6 20 4 36 16 43 31 9 20 7 27 -11 46 -22 22 -25 22 -415 25 -303 1 -398 -1
-417 -11z" />
                            <path style="fill: #a4b8c3;" d="M733 1745 c-33 -23 -31 -72 3 -85 56 -22 104 0 104 47 0 41 -69 65
-107 38z" />
                            <path style="fill: #a4b8c3;" d="M1000 1747 c-18 -9 -25 -21 -25 -42 0 -53 11 -55 441 -55 l391 0 21
23 c27 28 28 49 4 70 -17 15 -60 17 -413 17 -298 0 -400 -3 -419 -13z" />
                            <path style="fill: #a4b8c3;" d="M733 1480 c-26 -10 -32 -57 -11 -78 15 -15 82 -16 109 -2 19 11 27
64 11 74 -19 11 -88 15 -109 6z" />
                            <path style="fill: #a4b8c3;" d="M980 1476 c-18 -22 -8 -59 20 -73 35 -18 820 -19 838 -1 18 18 15 53
-6 71 -17 15 -61 17 -429 17 -346 0 -412 -2 -423 -14z" />
                            <path style="fill: #a4b8c3;" d="M576 949 c-32 -25 -33 -53 -4 -73 19 -13 62 -16 264 -16 221 0 242 2
257 18 23 25 21 39 -8 67 l-24 25 -229 0 c-217 0 -231 -1 -256 -21z" />
                            <path style="fill: #eaeaea;" d="M1883 1050 c-13 -11 -23 -27 -23 -36 0 -16 59 -56 71 -48 13 8 67
-24 73 -43 3 -10 10 -36 15 -58 14 -53 50 -72 77 -41 23 27 27 74 8 103 -8 12
-14 28 -14 35 0 7 -15 25 -32 41 -71 62 -140 80 -175 47z" />
                        </g>
                    </svg>
                </div>
                <div class="col-md">
                    <div id="BondTransferInformation" class="row">
                        <h1 class="redheader">Bond Transfer Information</h1>
                        <div class="col-md-12 form-horizontal w-100">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.EditorFor(model => model.BondTransfer.Amount, new { htmlAttributes = new { @class = "form-control", @placeholder = "Bond Amount" } })
                                        @Html.ValidationMessageFor(model => model.BondTransfer.Amount, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-6 pl-md-0">
                                    <div class="form-group">
                                        @Html.EditorFor(model => model.BondTransfer.SerialNumber, new { htmlAttributes = new { @class = "form-control", @placeholder = "Serial Number" } })
                                        @Html.ValidationMessageFor(model => model.BondTransfer.SerialNumber, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            /* Requesting Agency Information Section */
            <div class="row mb-md-4">
                <div id="requestingAgencyIcon" class="col-md-1">
                    <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
                         width="90.000000pt" height="90.000000pt" viewBox="0 0 476.000000 444.000000"
                         preserveAspectRatio="xMidYMid meet">
                        <g transform="translate(-120.000000,400.000000) scale(0.100000,-0.100000)"
                           fill="#000000" stroke="none">
                            <path style="fill: #0043ff;" d="M2723 3938 c1 -8 -12 -14 -35 -16 -21 -2 -38 -7 -38 -12 0 -5 -16
-12 -35 -16 -19 -3 -35 -9 -35 -13 0 -4 -16 -13 -35 -21 -19 -8 -35 -19 -35
-25 0 -6 -9 -17 -20 -25 -11 -8 -20 -20 -20 -26 0 -6 -7 -17 -15 -24 -8 -7
-15 -21 -15 -31 0 -11 -4 -19 -10 -19 -6 0 -10 -51 -10 -134 0 -126 -1 -135
-20 -141 -11 -3 -20 -11 -20 -16 0 -5 -7 -9 -15 -9 -12 0 -15 -16 -15 -85 0
-50 4 -85 10 -85 6 0 10 -6 10 -13 0 -16 36 -47 55 -47 9 0 15 -9 15 -22 0
-13 7 -36 15 -52 8 -15 15 -37 15 -48 0 -10 5 -16 10 -13 6 3 10 -3 10 -14 0
-12 5 -21 10 -21 6 0 10 -9 10 -20 0 -11 7 -20 16 -20 8 0 13 -4 10 -9 -3 -5
1 -14 9 -21 8 -7 15 -19 15 -27 0 -8 5 -11 10 -8 6 3 10 -1 10 -9 0 -8 8 -17
18 -20 9 -3 31 -19 49 -36 21 -20 42 -30 62 -30 17 0 42 -5 56 -12 21 -9 31
-9 46 0 10 7 35 12 54 12 19 0 35 5 35 10 0 6 5 10 10 10 6 0 18 8 28 18 10 9
30 26 45 37 15 11 27 25 27 32 0 7 11 23 25 37 14 14 25 32 25 40 0 8 3 16 8
18 12 5 42 65 42 83 0 9 5 13 10 10 6 -4 10 10 10 34 0 35 3 41 21 41 44 0 69
52 69 146 0 77 -11 104 -43 104 -11 0 -15 28 -20 137 -3 84 -10 139 -16 141
-6 2 -11 12 -11 23 0 11 -5 25 -10 32 -44 52 -60 73 -60 80 0 4 -9 7 -20 7
-11 0 -20 5 -20 10 0 6 -7 10 -15 10 -8 0 -15 4 -15 10 0 5 -12 13 -27 16 -16
4 -33 10 -38 15 -6 4 -28 9 -50 11 -25 2 -39 8 -37 16 1 8 -15 12 -58 12 -43
0 -59 -4 -57 -12z" />
                            <path style="fill: #0043ff;" d="M1703 3533 c-18 -9 -33 -20 -33 -25 0 -4 -7 -8 -15 -8 -8 0 -15 -7
-15 -16 0 -9 -16 -31 -35 -50 -19 -18 -35 -40 -35 -48 0 -9 -4 -16 -10 -16 -6
0 -10 -39 -10 -98 0 -96 -1 -99 -25 -110 -21 -10 -25 -19 -25 -53 0 -50 27
-110 52 -117 10 -2 18 -12 18 -21 0 -10 7 -26 15 -37 8 -10 15 -27 15 -36 0
-10 5 -18 10 -18 6 0 10 -12 10 -26 0 -14 4 -23 10 -19 6 3 10 1 10 -4 0 -19
96 -108 130 -119 62 -22 125 -10 163 32 9 10 17 16 17 12 0 -4 15 10 33 31 17
21 35 40 40 41 4 2 7 15 7 28 0 13 5 24 10 24 6 0 10 9 10 20 0 11 4 20 9 20
5 0 12 16 15 35 5 26 12 35 26 35 11 0 20 7 20 15 0 8 4 15 9 15 5 0 11 18 15
39 3 22 9 46 12 55 3 9 -6 27 -25 45 -30 29 -31 34 -31 115 0 70 -4 94 -27
144 -23 51 -36 65 -75 86 -27 15 -48 23 -48 20 0 -4 -11 1 -25 10 -33 22 -177
21 -222 -1z" />
                            <path style="fill: #0043ff;" d="M3666 3535 c-8 -8 -19 -15 -25 -15 -6 0 -11 -4 -11 -10 0 -5 -18 -10
-40 -10 -22 0 -40 -4 -40 -10 0 -5 -5 -10 -10 -10 -11 0 -31 -15 -53 -38 -31
-33 -37 -41 -37 -51 0 -6 -4 -11 -10 -11 -5 0 -10 -9 -10 -20 0 -11 -4 -20
-10 -20 -5 0 -10 -10 -10 -22 -1 -13 -7 -34 -15 -48 -10 -18 -14 -60 -14 -150
0 -90 4 -132 14 -150 18 -32 19 -130 1 -155 -15 -21 -2 -55 21 -55 7 0 13 -4
13 -10 0 -5 9 -10 20 -10 11 0 28 -4 38 -9 9 -5 45 -15 80 -22 34 -6 65 -15
67 -20 3 -4 0 -20 -5 -35 -9 -22 -7 -33 12 -60 13 -19 26 -34 31 -34 4 0 7 -7
7 -15 0 -8 3 -15 8 -15 9 0 42 -57 42 -74 0 -18 24 -66 33 -66 4 0 7 3 7 8 0
6 16 27 60 79 5 7 10 17 10 23 0 5 5 10 10 10 6 0 10 9 10 19 0 11 5 23 10 26
13 8 13 58 -1 72 -6 6 -9 23 -7 39 3 27 8 30 70 44 36 8 70 19 74 23 4 4 16 7
26 7 10 0 18 5 18 10 0 6 9 10 20 10 11 0 20 7 20 15 0 8 5 15 12 15 9 0 9 3
0 12 -7 7 -12 22 -12 35 0 13 -4 23 -10 23 -5 0 -10 14 -10 30 0 17 5 30 10
30 6 0 10 19 10 43 0 24 5 48 12 55 15 15 15 229 -1 245 -6 6 -11 21 -11 34 0
13 -4 23 -10 23 -5 0 -10 9 -10 20 0 11 -4 20 -10 20 -5 0 -10 5 -10 10 0 20
-76 100 -113 119 -15 8 -27 18 -27 22 0 5 -16 11 -35 15 -19 3 -35 10 -35 15
0 16 -157 11 -174 -6z" />
                            <path style="fill: #0043ff;" d="M2465 2720 c-3 -5 -15 -10 -26 -10 -10 0 -19 -4 -19 -10 0 -5 -13
-10 -30 -10 -16 0 -30 -4 -30 -10 0 -5 -10 -10 -22 -10 -13 0 -32 -7 -42 -15
-11 -8 -28 -15 -38 -15 -10 0 -18 -4 -18 -10 0 -5 -11 -10 -25 -10 -14 0 -25
-4 -25 -10 0 -5 -13 -10 -30 -10 -16 0 -30 -4 -30 -9 0 -5 -11 -12 -25 -15
-14 -4 -25 -11 -25 -16 0 -6 -9 -10 -20 -10 -22 0 -100 -75 -100 -96 0 -8 -4
-14 -9 -14 -18 0 -29 -191 -16 -274 6 -38 17 -59 46 -88 20 -21 45 -38 53 -38
9 0 16 -7 16 -15 0 -13 88 -15 735 -15 647 0 735 2 735 15 0 8 7 15 16 15 9 0
33 17 53 38 51 52 65 128 49 264 -6 54 -15 98 -20 98 -4 0 -8 7 -8 16 0 20
-74 94 -95 94 -8 0 -15 3 -15 8 0 4 -21 15 -48 25 -26 11 -56 22 -67 27 -53
20 -143 58 -167 71 -10 5 -26 9 -36 9 -10 0 -22 4 -28 9 -5 5 -23 12 -41 16
-38 8 -53 -13 -53 -74 0 -23 -4 -41 -10 -41 -5 0 -10 -16 -10 -35 0 -19 -4
-35 -10 -35 -5 0 -10 -12 -10 -27 0 -16 -7 -37 -15 -47 -8 -11 -15 -30 -15
-43 0 -13 -4 -23 -10 -23 -5 0 -10 -11 -10 -25 0 -14 -5 -35 -12 -48 -25 -49
-30 -60 -33 -79 -3 -11 -12 -26 -22 -33 -17 -13 -18 -7 -24 83 -3 53 -12 130
-19 169 -12 67 -12 76 6 108 10 19 22 35 26 35 14 0 9 61 -6 76 -20 20 -182
20 -202 0 -19 -19 -18 -51 2 -70 8 -9 12 -16 9 -16 -4 0 0 -12 10 -26 13 -20
15 -38 11 -73 -4 -25 -9 -98 -12 -161 -3 -63 -9 -119 -13 -123 -15 -16 -41 5
-41 34 0 16 -4 29 -8 29 -11 0 -42 72 -42 98 0 12 -4 22 -10 22 -5 0 -10 7
-10 16 0 9 -11 48 -25 86 -14 38 -25 78 -25 89 0 10 -4 19 -10 19 -5 0 -10 23
-10 51 0 31 -4 48 -10 44 -5 -3 -10 1 -10 9 0 19 -17 30 -25 16z" />
                            <path style="fill: #0043ff;" d="M1590 2631 c0 -6 -11 -11 -25 -11 -14 0 -25 -4 -25 -10 0 -5 -13 -10
-30 -10 -16 0 -30 -3 -30 -7 0 -11 -58 -43 -76 -43 -8 0 -14 -4 -14 -10 0 -5
-7 -10 -15 -10 -23 0 -92 -75 -100 -109 -3 -17 -11 -31 -16 -31 -5 0 -9 -40
-9 -90 0 -53 4 -90 10 -90 6 0 10 -6 10 -13 0 -18 35 -58 52 -61 7 -1 18 -5
24 -8 9 -6 281 -11 447 -8 l27 0 0 138 c0 104 4 148 17 185 9 26 21 47 25 47
4 0 8 9 8 20 0 11 5 20 11 20 6 0 9 14 7 33 -3 31 -4 32 -54 35 -62 4 -83 -12
-76 -57 2 -17 8 -31 13 -31 6 0 8 -47 7 -107 -3 -103 -4 -108 -25 -111 -19 -3
-23 1 -23 22 0 14 -4 26 -10 26 -5 0 -10 11 -10 24 0 13 -3 26 -7 28 -12 5
-43 102 -43 132 0 14 -4 26 -9 26 -6 0 -11 19 -13 43 -2 35 -7 43 -25 45 -13
2 -23 -1 -23 -7z" />
                            <path style="fill: #0043ff;" d="M3990 2592 c0 -4 6 -16 13 -27 13 -20 37 -93 37 -114 0 -6 -9 -11
-20 -11 -12 0 -20 7 -20 16 0 39 -58 60 -67 24 -3 -11 -9 -20 -14 -20 -5 0 -9
-9 -9 -20 0 -11 -4 -20 -10 -20 -5 0 -10 -7 -10 -15 0 -8 -4 -15 -10 -15 -5 0
-12 -11 -16 -25 -3 -14 -10 -25 -14 -25 -4 0 -13 -13 -20 -30 -7 -16 -16 -30
-21 -30 -5 0 -9 -7 -9 -15 0 -8 -5 -15 -11 -15 -22 0 -38 -35 -39 -82 l0 -48
234 0 c146 0 237 4 241 10 3 6 15 10 26 10 10 0 19 5 19 10 0 6 7 10 15 10 9
0 15 9 15 25 0 16 6 25 15 25 12 0 15 16 15 85 0 69 -3 85 -15 85 -9 0 -15 9
-15 25 0 26 -7 38 -47 78 -34 34 -51 47 -63 47 -6 0 -18 4 -28 9 -9 5 -28 13
-42 18 -14 6 -42 18 -63 27 -41 17 -67 21 -67 8z" />
                        </g>
                    </svg>
                </div>
                <div class="col-md">
                    <div id="RequestingAgencyInformation" class="row">
                        <h1 class="redheader">Requesting Agency Information</h1>
                        <div class="col-md-12 form-horizontal w-100">
                            <div class="row">
                                <div class="col-md">
                                    <div class="form-group">
                                        @Html.EditorFor(model => model.RequestingAgency.AgencyName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Requesting Agency" } })
                                        @Html.ValidationMessageFor(model => model.RequestingAgency.AgencyName, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-4 pl-md-0">
                                    <div class="form-group">
                                        @Html.EditorFor(model => model.RequestingAgency.MobileNumber, new { htmlAttributes = new { @class = "form-control", @placeholder = "Mobile Number" } })
                                        @Html.ValidationMessageFor(model => model.RequestingAgency.MobileNumber, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md">
                                    <div class="form-group">
                                        @Html.EditorFor(model => model.RequestingAgency.City, new { htmlAttributes = new { @class = "form-control", @placeholder = "City" } })
                                        @Html.ValidationMessageFor(model => model.RequestingAgency.City, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-2 pl-md-0">
                                    <div class="form-group">
                                        @Html.EditorFor(model => model.RequestingAgency.State, new { htmlAttributes = new { @class = "form-control", @placeholder = "State" } })
                                        @Html.ValidationMessageFor(model => model.RequestingAgency.State, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md pl-md-0">
                                    <div class="form-group">
                                        @Html.EditorFor(model => model.RequestingAgency.County, new { htmlAttributes = new { @class = "form-control", @placeholder = "County" } })
                                        @Html.ValidationMessageFor(model => model.RequestingAgency.County, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            /* Defendant Information Section */
            <div class="row mb-md-4">
                <div id="defendantIcon" class="col-md-1">
                    <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
                         width="60.000000pt" height="60.000000pt" viewBox="0 0 514.000000 511.000000"
                         preserveAspectRatio="xMidYMid meet">

                        <g transform="translate(0.000000,511.000000) scale(0.100000,-0.100000)"
                           fill="#000000" stroke="none">
                            <path style="fill: #69bcad;" d="M1487 4913 c-5 -4 -189 -7 -410 -5 -453 4 -452 4 -563 -68 -124 -81
-193 -180 -235 -334 -18 -67 -19 -141 -19 -1920 0 -1970 -2 -1886 46 -1977 35
-68 148 -197 189 -216 17 -8 44 -23 61 -33 16 -11 62 -24 101 -30 79 -11 3714
-15 3773 -4 19 3 67 18 107 31 117 41 255 181 298 302 13 38 15 261 15 1905 0
1281 -3 1887 -10 1941 -6 44 -20 98 -31 120 -28 58 -156 188 -214 217 -120 60
-26 56 -1530 62 -759 4 -1423 9 -1475 12 -52 3 -99 2 -103 -3z m1267 -769 c33
-8 103 -36 154 -61 198 -97 355 -295 413 -523 18 -69 18 -297 0 -360 -82 -295
-272 -494 -551 -581 -107 -33 -301 -34 -413 -1 -137 39 -239 100 -344 203
-183 181 -268 457 -217 707 36 175 112 311 244 435 85 80 200 146 314 178 82
24 312 26 400 3z m97 -2039 c57 -8 120 -19 139 -25 19 -6 71 -14 115 -19 55
-7 118 -24 200 -56 66 -26 152 -57 190 -68 39 -12 86 -32 105 -44 19 -12 65
-37 102 -56 149 -77 324 -232 370 -326 21 -42 23 -62 26 -238 l4 -193 -1535 0
-1534 0 -6 63 c-4 34 -4 118 -2 187 3 69 5 130 5 136 0 40 180 255 251 299 88
55 344 177 429 205 30 10 80 28 110 39 30 12 109 30 175 41 66 12 158 28 205
37 151 27 182 30 366 32 113 0 219 -4 285 -14z" />
                        </g>
                    </svg>
                </div>
                <div class="col-md">
                    <div id="DefendantInformation" class="row">
                        <h1 class="redheader">Defendant Information</h1>
                        <div class="col-md-12 form-horizontal w-100">
                            <div class="row">
                                <div class="col-md">
                                    <div class="form-group">
                                        @Html.EditorFor(model => model.Defendant.LastName, new { htmlAttributes = new { @class = "form-control bold red", @placeholder = "Smith" } })
                                        @Html.ValidationMessageFor(model => model.Defendant.LastName, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="col-md pl-md-0">
                                    <div class="form-group">
                                        @Html.EditorFor(model => model.Defendant.FirstName, new { htmlAttributes = new { @class = "form-control bold", @placeholder = "First" } })
                                        @Html.ValidationMessageFor(model => model.Defendant.FirstName, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="col-md-2 pl-md-0">
                                    <div class="form-group">
                                        @Html.EditorFor(model => model.Defendant.DOB, new { htmlAttributes = new { @class = "form-control", @placeholder = "DOB" } })
                                        @Html.ValidationMessageFor(model => model.Defendant.DOB, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="col-md-2 pl-md-0">
                                    <div class="form-group">
                                        @Html.EditorFor(model => model.Defendant.SSN, new { htmlAttributes = new { @class = "form-control bold", @placeholder = "SSN" } })
                                        @Html.ValidationMessageFor(model => model.Defendant.SSN, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="col-md-auto pl-md-0">
                                    <button class="go">Go!</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            /* Indemnitor Information Section */
            <div class="row mb-md-4">
                <div id="indemnitorIcon" class="col-md-1">
                    <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
                         width="60.000000pt" height="60.000000pt" viewBox="0 0 514.000000 511.000000"
                         preserveAspectRatio="xMidYMid meet">

                        <g transform="translate(0.000000,511.000000) scale(0.100000,-0.100000)"
                           fill="#000000" stroke="none">
                            <path style="fill: #bcad69;" d="M1487 4913 c-5 -4 -189 -7 -410 -5 -453 4 -452 4 -563 -68 -124 -81
-193 -180 -235 -334 -18 -67 -19 -141 -19 -1920 0 -1970 -2 -1886 46 -1977 35
-68 148 -197 189 -216 17 -8 44 -23 61 -33 16 -11 62 -24 101 -30 79 -11 3714
-15 3773 -4 19 3 67 18 107 31 117 41 255 181 298 302 13 38 15 261 15 1905 0
1281 -3 1887 -10 1941 -6 44 -20 98 -31 120 -28 58 -156 188 -214 217 -120 60
-26 56 -1530 62 -759 4 -1423 9 -1475 12 -52 3 -99 2 -103 -3z m1267 -769 c33
-8 103 -36 154 -61 198 -97 355 -295 413 -523 18 -69 18 -297 0 -360 -82 -295
-272 -494 -551 -581 -107 -33 -301 -34 -413 -1 -137 39 -239 100 -344 203
-183 181 -268 457 -217 707 36 175 112 311 244 435 85 80 200 146 314 178 82
24 312 26 400 3z m97 -2039 c57 -8 120 -19 139 -25 19 -6 71 -14 115 -19 55
-7 118 -24 200 -56 66 -26 152 -57 190 -68 39 -12 86 -32 105 -44 19 -12 65
-37 102 -56 149 -77 324 -232 370 -326 21 -42 23 -62 26 -238 l4 -193 -1535 0
-1534 0 -6 63 c-4 34 -4 118 -2 187 3 69 5 130 5 136 0 40 180 255 251 299 88
55 344 177 429 205 30 10 80 28 110 39 30 12 109 30 175 41 66 12 158 28 205
37 151 27 182 30 366 32 113 0 219 -4 285 -14z" />
                        </g>
                    </svg>
                </div>
                <div class="col-md">
                    <div id="IndemnitorInformation" class="row">
                        <h1 class="redheader">Indemnitor Information</h1>
                        <div class="col-md-12 form-horizontal w-100">

                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        @Html.EditorFor(model => model.Indemnitor.FirstName, new { htmlAttributes = new { @class = "form-control", @placeholder = "First Name" } })
                                        @Html.ValidationMessageFor(model => model.Indemnitor.FirstName, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-3 pl-md-0">
                                    <div class="form-group">
                                        @Html.EditorFor(model => model.Indemnitor.Middle, new { htmlAttributes = new { @class = "form-control", @placeholder = "Middle" } })
                                        @Html.ValidationMessageFor(model => model.Indemnitor.Middle, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md pl-md-0">
                                    <div class="form-group">
                                        @Html.EditorFor(model => model.Indemnitor.LastName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Last Name" } })
                                        @Html.ValidationMessageFor(model => model.Indemnitor.LastName, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md">
                                    <div class="form-group">
                                        @Html.EditorFor(model => model.Indemnitor.Alias, new { htmlAttributes = new { @class = "form-control", @placeholder = "Alias Name" } })
                                        @Html.ValidationMessageFor(model => model.Indemnitor.Alias, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-2 pr-md-0">
                                    <div class="form-group">
                                        @Html.EditorFor(model => model.Indemnitor.DOB, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Indemnitor.DOB, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group pl-md-0">
                                        @Html.EditorFor(model => model.Indemnitor.Gender, new { htmlAttributes = new { @class = "form-control", @placeholder = "Gender" } })
                                        @Html.ValidationMessageFor(model => model.Indemnitor.Gender, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="col-md">
                                    <div class="form-group">
                                        @Html.EditorFor(model => model.Indemnitor.Ethnicity, new { htmlAttributes = new { @class = "form-control", @placeholder = "Ethnicity" } })
                                        @Html.ValidationMessageFor(model => model.Indemnitor.Ethnicity, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <div class="form-group">
                                        @Html.EditorFor(model => model.Indemnitor.SSN, new { htmlAttributes = new { @class = "form-control", @placeholder = "Social Security" } })
                                        @Html.ValidationMessageFor(model => model.Indemnitor.SSN, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md">
                                    <div class="form-group">
                                        @Html.EditorFor(model => model.Indemnitor.EmailAddress, new { htmlAttributes = new { @class = "form-control", @placeholder = "Email Address" } })
                                        @Html.ValidationMessageFor(model => model.Indemnitor.EmailAddress, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        @Html.EditorFor(model => model.Indemnitor.MobileNumber, new { htmlAttributes = new { @class = "form-control", @placeholder = "Mobile Phone" } })
                                        @Html.ValidationMessageFor(model => model.Indemnitor.MobileNumber, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            /* Additional Information Section */
            <div class="row mb-md-4">
                <div id="additionalInformationIcon" class="col-md-1">
                    <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
                         width="70.000000pt" height="70.000000pt" viewBox="0 0 533.000000 573.000000"
                         preserveAspectRatio="xMidYMid meet">

                        <g transform="translate(-30.000000,530.000000) scale(0.100000,-0.100000)"
                           fill="#000000" stroke="none">
                            <path style="fill: #8f061e;" d="M2393 5236 c-6 -10 -47 -15 -158 -19 -105 -4 -152 -10 -160 -19 -10
-13 -13 -14 -65 -16 -19 -1 -30 -7 -30 -17 0 -12 -14 -15 -70 -15 -52 0 -72
-4 -76 -14 -3 -8 -19 -18 -36 -21 -16 -4 -32 -13 -35 -21 -3 -10 -22 -14 -59
-14 -42 0 -58 -5 -71 -20 -10 -11 -23 -20 -30 -20 -7 0 -13 -7 -13 -15 0 -11
-12 -15 -49 -15 -40 0 -50 -3 -54 -20 -3 -11 -12 -20 -21 -20 -9 0 -16 -4 -16
-10 0 -5 -16 -12 -35 -16 -19 -3 -35 -12 -35 -19 0 -8 -13 -16 -29 -20 -16 -3
-32 -13 -35 -21 -3 -8 -12 -14 -21 -14 -8 0 -15 -7 -15 -15 0 -8 -9 -15 -20
-15 -11 0 -28 -9 -37 -20 -10 -11 -23 -20 -30 -20 -7 0 -13 -7 -13 -15 0 -8
-9 -15 -20 -15 -11 0 -20 -7 -20 -15 0 -8 -6 -15 -13 -15 -8 0 -22 -9 -32 -20
-10 -11 -26 -20 -37 -20 -11 0 -18 -7 -18 -20 0 -11 -7 -20 -15 -20 -8 0 -15
-7 -15 -15 0 -8 -7 -15 -15 -15 -8 0 -15 -7 -15 -16 0 -9 -9 -18 -21 -21 -15
-4 -17 -8 -8 -14 9 -5 5 -10 -14 -14 -15 -4 -27 -13 -27 -20 0 -8 -9 -17 -20
-20 -11 -3 -20 -13 -20 -21 0 -8 -7 -14 -15 -14 -8 0 -15 -4 -15 -10 0 -5 -8
-18 -17 -28 -36 -38 -53 -63 -53 -77 0 -8 -9 -15 -20 -15 -13 0 -20 -7 -20
-20 0 -11 -7 -20 -15 -20 -9 0 -15 -9 -15 -25 0 -14 -8 -29 -20 -35 -11 -6
-20 -20 -20 -30 0 -11 -6 -19 -13 -18 -7 2 -13 -10 -15 -29 -2 -20 -9 -33 -17
-33 -7 0 -16 -13 -20 -29 -3 -16 -13 -32 -21 -35 -8 -3 -14 -15 -14 -26 0 -11
-6 -20 -14 -20 -8 0 -15 -16 -19 -42 -3 -23 -13 -45 -21 -50 -9 -5 -16 -15
-16 -22 0 -8 -6 -16 -14 -19 -8 -3 -15 -29 -19 -68 -3 -34 -9 -65 -14 -68 -11
-7 -27 -42 -25 -53 1 -5 -5 -8 -13 -8 -11 0 -15 -17 -17 -72 -2 -51 -7 -72
-15 -71 -8 2 -15 -16 -19 -47 -4 -32 -11 -50 -20 -50 -11 0 -14 -31 -14 -160
0 -130 -3 -160 -14 -160 -11 0 -14 -24 -15 -109 -2 -113 5 -165 20 -155 5 3 9
-64 9 -155 0 -130 3 -161 14 -161 9 0 16 -18 20 -50 5 -34 11 -50 21 -50 12 0
15 -16 15 -76 0 -41 4 -73 8 -70 4 2 14 -10 22 -27 7 -18 18 -35 24 -39 5 -3
12 -34 14 -67 3 -43 8 -61 18 -61 8 0 14 -9 14 -20 0 -11 6 -20 14 -20 15 0
26 -30 26 -72 0 -17 5 -27 12 -25 7 1 14 -8 16 -20 2 -13 9 -23 17 -23 7 0 16
-16 19 -35 4 -21 13 -35 21 -35 10 0 15 -10 15 -30 0 -20 5 -30 15 -30 8 0 15
-8 15 -19 0 -10 9 -21 20 -24 11 -3 20 -9 19 -14 -4 -24 3 -43 16 -43 8 0 15
-9 15 -20 0 -12 7 -20 16 -20 9 0 18 -9 21 -20 3 -11 13 -20 22 -21 11 0 12
-2 3 -6 -9 -3 -7 -10 9 -24 12 -10 18 -19 13 -19 -5 0 -1 -5 9 -11 9 -5 17
-17 17 -24 0 -8 7 -15 15 -15 8 0 15 -6 15 -14 0 -7 9 -16 20 -19 11 -3 20
-12 20 -20 0 -8 9 -17 21 -20 12 -3 18 -10 14 -16 -3 -6 1 -11 10 -11 8 0 18
-7 21 -15 3 -8 14 -17 25 -20 11 -4 17 -11 14 -16 -4 -5 1 -9 9 -9 9 0 16 -9
16 -20 0 -11 7 -20 15 -20 7 0 18 -6 22 -13 4 -6 20 -18 36 -26 20 -11 24 -17
15 -23 -9 -5 -7 -8 7 -9 11 -1 24 -1 28 0 5 1 11 -8 14 -19 3 -11 14 -20 24
-20 11 0 19 -6 19 -14 0 -8 13 -17 30 -21 16 -4 30 -13 30 -21 0 -12 19 -18
58 -17 6 1 12 -5 12 -13 0 -8 6 -14 14 -14 7 0 16 -9 19 -20 4 -15 14 -20 36
-20 21 0 31 -5 31 -15 0 -8 9 -15 20 -15 11 0 20 -6 20 -14 0 -9 18 -16 50
-20 34 -5 50 -11 50 -21 0 -10 10 -15 29 -15 16 0 31 -6 34 -14 3 -8 28 -16
61 -20 33 -5 55 -12 53 -19 -2 -11 4 -13 46 -16 16 -1 18 -4 9 -10 -21 -13 10
-21 79 -21 43 0 61 -4 65 -15 4 -9 26 -17 54 -21 27 -4 51 -13 54 -20 4 -11
37 -14 156 -14 125 0 152 -3 156 -15 9 -22 259 -22 268 0 4 12 31 15 156 15
119 0 152 3 156 14 3 7 27 16 54 20 28 4 50 12 54 21 4 11 22 15 65 15 69 0
100 8 79 21 -9 6 -7 9 10 10 41 3 47 5 45 16 -2 7 20 14 52 18 30 4 60 13 66
21 6 8 22 14 35 14 15 0 24 6 24 15 0 8 9 16 20 16 11 1 25 3 30 4 6 1 19 3
30 4 11 0 20 8 20 16 0 8 9 15 20 15 11 0 20 7 20 15 0 10 10 15 31 15 21 0
32 6 36 17 5 19 63 53 88 53 8 0 15 9 15 20 0 14 7 20 24 20 13 0 26 7 30 15
3 8 15 15 26 15 13 0 20 7 20 20 0 13 7 20 20 20 11 0 20 7 20 15 0 8 7 15 15
15 8 0 15 7 15 15 0 8 14 17 35 21 25 4 35 11 35 25 0 11 5 19 10 19 6 0 30
20 53 45 24 25 49 45 55 45 7 0 12 7 12 16 0 9 9 18 21 21 15 4 17 8 8 14 -9
5 -5 10 14 14 17 5 27 14 27 26 0 11 9 27 20 36 11 10 20 23 20 30 0 7 7 13
15 13 8 0 15 9 15 20 0 13 7 20 20 20 13 0 20 7 20 20 0 11 7 20 15 20 10 0
15 10 15 30 0 23 4 30 20 30 13 0 20 7 20 20 0 11 6 20 13 20 9 0 9 2 -1 9
-11 7 -11 9 2 14 9 4 16 13 16 22 0 8 7 15 15 15 8 0 17 14 21 35 3 19 12 35
19 35 8 0 15 10 17 23 2 12 8 21 15 20 6 -1 13 20 17 47 5 34 11 50 21 50 8 0
15 9 15 20 0 11 6 20 14 20 10 0 15 18 18 61 2 33 9 64 14 67 6 4 17 22 25 40
8 17 17 32 21 32 5 0 8 32 8 70 0 55 3 70 15 70 10 0 16 16 21 50 4 32 11 50
20 50 11 0 14 31 14 161 0 98 4 158 9 154 16 -9 23 56 19 161 -2 66 -7 99 -15
102 -10 3 -13 44 -13 163 0 130 -2 157 -14 153 -10 -4 -15 8 -19 42 -3 28 -11
51 -21 56 -12 7 -16 25 -16 78 0 56 -3 70 -15 70 -8 0 -14 3 -13 8 2 10 -14
46 -24 53 -5 3 -12 31 -15 62 -3 32 -10 55 -17 54 -6 -1 -12 9 -14 23 -2 14
-10 30 -19 37 -8 7 -18 32 -20 57 -4 32 -9 43 -19 39 -9 -3 -14 2 -14 16 0 12
-6 24 -14 27 -8 3 -18 19 -21 35 -4 16 -13 29 -21 29 -8 0 -15 9 -15 20 -2 33
-4 38 -13 47 -5 5 -6 2 -1 -6 5 -9 4 -12 -3 -7 -7 4 -12 16 -12 28 0 11 -8 22
-20 25 -13 3 -20 14 -20 29 0 13 -5 24 -10 24 -6 0 -15 11 -20 25 -5 14 -16
25 -25 25 -8 0 -15 7 -15 15 0 14 -17 39 -52 77 -10 10 -18 23 -18 28 0 6 -7
10 -15 10 -8 0 -15 6 -15 14 0 8 -9 18 -20 21 -11 3 -20 12 -20 20 0 7 -12 16
-27 20 -19 4 -23 9 -14 14 9 6 7 10 -8 14 -12 3 -21 12 -21 21 0 9 -7 16 -15
16 -8 0 -15 7 -15 15 0 8 -7 15 -15 15 -8 0 -15 9 -15 20 0 13 -7 20 -18 20
-10 0 -29 11 -42 25 -12 13 -27 22 -31 19 -5 -3 -9 2 -9 10 0 9 -9 16 -20 16
-11 0 -20 7 -20 15 0 8 -6 15 -13 15 -7 0 -23 9 -35 20 -12 11 -28 20 -37 20
-8 0 -15 7 -15 15 0 8 -9 15 -20 15 -11 0 -28 9 -37 20 -10 11 -23 20 -30 20
-7 0 -13 6 -13 14 0 8 -15 17 -35 20 -19 4 -35 11 -35 16 0 6 -7 10 -16 10 -9
0 -18 9 -21 20 -4 17 -14 20 -54 20 -37 0 -49 4 -49 15 0 8 -6 15 -13 15 -7 0
-20 9 -30 20 -13 15 -29 20 -71 20 -37 0 -56 4 -59 14 -3 8 -19 17 -35 21 -17
3 -33 13 -36 21 -4 10 -24 14 -77 14 -59 0 -70 3 -65 15 4 11 -3 15 -29 17
-57 2 -60 2 -70 16 -8 9 -55 15 -160 19 -111 4 -152 9 -158 19 -6 11 -37 14
-127 14 -90 0 -121 -3 -127 -14z m357 -551 c8 -9 30 -15 58 -15 29 0 52 -6 65
-17 13 -13 41 -19 93 -21 55 -3 74 -8 74 -18 0 -12 26 -19 53 -15 4 0 7 -6 7
-14 0 -9 9 -15 24 -15 45 0 86 -13 86 -26 0 -12 26 -19 53 -15 4 0 7 -5 7 -13
0 -8 15 -17 34 -20 19 -4 37 -13 40 -21 3 -8 12 -15 21 -15 8 0 15 -7 15 -15
0 -10 10 -15 31 -15 22 0 32 -5 36 -20 3 -11 14 -20 24 -20 10 0 21 -5 24 -11
4 -5 18 -14 31 -19 13 -5 24 -16 24 -25 0 -8 9 -15 20 -15 11 0 20 -7 20 -15
0 -8 7 -15 15 -15 8 0 15 -6 15 -14 0 -8 11 -17 25 -20 14 -4 23 -10 20 -15
-2 -5 2 -11 10 -15 8 -3 15 -12 15 -21 0 -8 6 -15 13 -15 15 0 57 -44 57 -59
0 -6 7 -11 15 -11 8 0 15 -7 15 -16 0 -9 9 -18 20 -21 11 -3 20 -12 20 -19 0
-8 7 -14 15 -14 8 0 15 -8 15 -18 0 -11 9 -27 20 -37 11 -10 20 -23 20 -28 0
-5 7 -15 15 -21 8 -6 16 -23 17 -38 1 -15 6 -24 10 -22 4 3 12 -6 18 -20 5
-14 16 -26 25 -26 11 0 15 -10 15 -35 0 -24 5 -35 15 -35 9 0 15 -9 15 -25 0
-14 8 -29 20 -35 16 -8 20 -21 20 -60 0 -38 4 -50 15 -50 10 0 15 -10 15 -30
0 -17 7 -33 17 -39 13 -7 18 -27 21 -82 3 -46 10 -78 18 -84 8 -6 14 -35 16
-75 2 -46 7 -64 16 -62 9 1 12 -45 12 -208 0 -180 -2 -210 -15 -210 -12 0 -15
-14 -15 -66 0 -45 -5 -70 -15 -80 -9 -9 -15 -34 -15 -58 0 -63 -11 -106 -26
-106 -9 0 -14 -11 -14 -30 0 -18 -6 -33 -15 -36 -10 -4 -15 -20 -15 -51 0 -36
-4 -46 -20 -50 -14 -4 -20 -14 -20 -34 0 -19 -5 -29 -15 -29 -11 0 -15 -11
-15 -36 0 -27 -5 -37 -20 -41 -11 -3 -20 -14 -20 -24 0 -11 -7 -19 -15 -19
-10 0 -15 -10 -15 -30 0 -20 -5 -30 -15 -30 -8 0 -15 -7 -15 -15 0 -8 -9 -24
-20 -35 -11 -11 -20 -27 -20 -35 0 -8 -6 -15 -14 -15 -7 0 -16 -9 -19 -20 -3
-11 -13 -20 -22 -20 -9 0 -13 -5 -10 -11 4 -6 -2 -13 -13 -16 -12 -3 -22 -15
-24 -27 -2 -11 -9 -20 -16 -18 -6 1 -12 -5 -12 -13 0 -8 -9 -15 -20 -15 -13 0
-20 -7 -20 -20 0 -11 -7 -20 -15 -20 -8 0 -15 -7 -15 -15 0 -8 -9 -15 -20 -15
-13 0 -20 -7 -20 -20 0 -11 -6 -20 -14 -20 -8 0 -16 -7 -20 -15 -3 -8 -12 -15
-21 -15 -8 0 -15 -6 -15 -14 0 -8 -14 -18 -31 -21 -21 -5 -27 -10 -19 -15 8
-5 2 -10 -19 -15 -17 -3 -31 -12 -31 -20 0 -7 -15 -16 -34 -19 -19 -4 -37 -13
-40 -21 -3 -8 -12 -15 -21 -15 -8 0 -15 -7 -15 -15 0 -10 -10 -15 -30 -15 -16
0 -33 -7 -38 -16 -5 -9 -21 -17 -35 -17 -16 1 -27 -6 -30 -18 -4 -15 -15 -19
-51 -19 -34 0 -46 -4 -46 -15 0 -13 -31 -21 -62 -16 -5 0 -8 -5 -8 -13 0 -16
-43 -26 -116 -26 -41 0 -54 -4 -54 -15 0 -11 -14 -15 -57 -16 -32 -1 -61 -1
-65 -1 -3 1 -12 -5 -18 -13 -18 -22 -402 -22 -453 0 -20 8 -52 15 -71 15 -21
0 -36 6 -40 15 -4 11 -20 15 -54 15 -69 0 -112 10 -112 26 0 8 -3 13 -7 13
-32 -5 -63 3 -63 16 0 11 -12 15 -46 15 -36 0 -47 4 -51 19 -3 12 -14 19 -30
19 -14 0 -30 7 -35 16 -5 9 -22 16 -38 16 -20 0 -30 5 -30 15 0 8 -5 15 -11
15 -6 0 -22 9 -36 20 -14 11 -34 20 -44 20 -11 0 -19 7 -19 15 0 8 -7 15 -15
15 -9 0 -18 6 -21 14 -3 8 -19 18 -35 21 -16 4 -29 13 -29 21 0 8 -7 14 -15
14 -9 0 -18 7 -21 15 -4 8 -12 15 -20 15 -8 0 -14 9 -14 20 0 13 -7 20 -20 20
-11 0 -20 7 -20 15 0 8 -7 15 -15 15 -8 0 -15 9 -15 20 0 13 -7 20 -20 20 -11
0 -20 7 -20 15 0 8 -7 15 -15 15 -8 0 -15 9 -15 20 0 11 -7 20 -15 20 -8 0
-15 7 -15 15 0 8 -7 15 -16 15 -9 0 -18 9 -21 20 -3 11 -12 20 -19 20 -8 0
-14 7 -14 15 0 8 -9 24 -20 35 -11 11 -20 27 -20 35 0 8 -7 15 -15 15 -10 0
-15 10 -15 30 0 20 -5 30 -15 30 -8 0 -15 8 -15 19 0 10 -9 21 -20 24 -15 4
-20 14 -20 41 0 25 -4 36 -15 36 -10 0 -15 10 -15 29 0 20 -6 30 -20 34 -16 4
-20 14 -20 50 0 31 -5 47 -15 51 -9 3 -15 18 -15 36 0 19 -5 30 -14 30 -15 0
-24 41 -28 123 -1 31 -6 47 -15 47 -9 0 -13 15 -13 49 0 60 -9 89 -21 69 -5
-7 -9 92 -9 227 0 135 4 234 9 227 11 -18 21 18 21 81 0 33 4 47 14 47 10 0
15 21 18 76 4 57 9 79 22 86 9 5 16 22 16 38 0 20 5 30 15 30 11 0 15 12 15
51 0 42 3 52 20 56 14 4 20 14 20 34 0 19 5 29 15 29 10 0 15 10 15 34 0 25 5
35 20 39 12 3 20 14 20 27 0 14 5 20 13 17 8 -3 14 5 15 22 1 14 9 31 17 37 8
6 15 16 15 21 0 5 9 18 20 28 11 10 20 26 20 37 0 10 7 18 15 18 8 0 15 7 15
15 0 8 7 15 16 15 9 0 18 9 21 20 3 11 12 20 19 20 8 0 14 6 14 13 0 15 44 57
59 57 6 0 11 9 11 20 0 11 5 20 11 20 5 0 8 4 5 9 -4 5 7 12 24 16 16 4 30 13
30 21 0 8 7 14 15 14 8 0 15 7 15 15 0 8 9 15 20 15 13 0 20 7 20 20 0 13 7
20 20 20 11 0 20 7 20 15 0 13 25 21 53 16 4 0 7 8 7 19 0 18 21 26 53 21 4
-1 10 6 13 14 4 8 13 15 20 15 8 0 17 7 20 15 3 8 21 17 40 21 19 3 34 12 34
20 0 9 11 14 30 14 19 0 30 5 30 14 0 13 41 26 86 26 15 0 24 6 24 15 0 8 3
14 8 14 27 -5 52 3 52 16 0 12 14 15 69 15 53 0 74 4 94 20 17 13 40 20 70 20
27 0 49 6 57 15 10 12 49 15 230 15 181 0 220 -3 230 -15z" />
                            <path style="fill: #8f061e;" d="M2403 4113 c-13 -2 -23 -11 -23 -19 0 -8 -7 -14 -15 -14 -8 0 -15 -6
-15 -14 0 -7 -9 -16 -20 -19 -11 -3 -20 -12 -20 -21 0 -9 -7 -16 -15 -16 -10
0 -15 -10 -15 -30 0 -17 -6 -33 -14 -36 -20 -8 -22 -159 -2 -171 16 -9 16 -10
16 -48 0 -16 6 -25 15 -25 8 0 15 -7 15 -15 0 -8 7 -15 15 -15 8 0 15 -7 15
-16 0 -9 9 -18 20 -21 11 -3 20 -12 20 -19 0 -11 27 -14 140 -14 113 0 140 3
140 14 0 7 9 16 20 19 11 3 20 12 20 21 0 9 7 16 15 16 8 0 15 7 15 15 0 8 7
15 15 15 10 0 15 10 15 31 0 17 7 37 15 46 21 20 19 159 -1 167 -8 3 -14 19
-14 36 0 19 -5 30 -14 30 -7 0 -16 9 -19 20 -3 11 -12 20 -21 20 -9 0 -16 6
-16 14 0 7 -9 16 -21 19 -12 3 -18 10 -15 15 3 5 -8 12 -25 16 -34 7 -190 6
-226 -1z" />
                            <path style="fill: #8f061e;" d="M2450 3275 c0 -10 -11 -15 -35 -15 -19 0 -35 -5 -35 -11 0 -5 -5 -7
-10 -4 -6 3 -13 -1 -16 -9 -3 -9 -12 -16 -20 -16 -8 0 -14 -6 -14 -13 0 -7 -7
-22 -16 -33 -8 -10 -12 -13 -8 -5 5 9 3 12 -4 7 -7 -4 -12 -25 -12 -47 0 -28
-4 -39 -15 -39 -14 0 -15 -59 -15 -495 1 -426 3 -497 15 -502 9 -3 15 -19 15
-39 0 -24 5 -34 15 -34 8 0 15 -7 15 -15 0 -8 9 -15 20 -15 13 0 20 -7 20 -20
0 -13 7 -20 20 -20 11 0 20 -7 20 -15 0 -13 21 -15 130 -15 109 0 130 2 130
15 0 8 9 15 20 15 13 0 20 7 20 20 0 13 7 20 20 20 11 0 20 7 20 15 0 8 7 15
15 15 10 0 15 10 15 34 0 20 6 36 15 39 12 5 14 76 15 502 0 436 -1 495 -15
495 -11 0 -15 12 -15 48 0 34 -3 43 -10 32 -8 -12 -12 -9 -22 18 -7 17 -17 32
-23 32 -6 0 -18 9 -28 20 -11 13 -29 20 -52 20 -24 0 -35 5 -35 15 0 12 -14
15 -70 15 -56 0 -70 -3 -70 -15z" />
                        </g>
                    </svg>
                </div>
                <div class="col-md">
                    <div id="AdditionalInformation" class="row">
                        <h1 class="redheader">Additional Information (<span class="cap">Holds, Immigration</span>)</h1>
                        <div class="col-md-12 form-horizontal w-100">
                            <div class="form-group">
                                @Html.EditorFor(model => model.AdditionalInformation, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.AdditionalInformation, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            /* Disclaimer Section */
            <div class="row">
                <div id="checkmarkIcon" class="col-md-1">
                    <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
                         width="40.000000pt" height="30.000000pt" viewBox="0 0 331.000000 294.000000"
                         preserveAspectRatio="xMidYMid meet">

                        <g transform="translate(0.000000,294.000000) scale(0.100000,-0.100000)"
                           fill="#000000" stroke="none">
                            <path d="M283 2866 c-98 -31 -176 -98 -217 -185 -21 -46 -21 -48 -21 -1216 l0
                                -1170 24 -53 c30 -67 113 -143 189 -174 l57 -23 1290 -3 c902 -2 1309 0 1354
                                8 114 20 207 82 256 171 l30 54 3 1164 c2 1019 0 1171 -13 1217 -21 73 -95
                                152 -177 190 l-63 29 -1335 2 c-1084 1 -1343 -1 -1377 -11z m2453 -631 c43
                                -38 96 -86 118 -106 l39 -36 -270 -239 c-148 -131 -379 -336 -513 -454 -133
                                -118 -371 -329 -528 -468 -156 -138 -287 -252 -291 -252 -4 0 -157 133 -341
                                296 -184 163 -384 339 -443 391 -59 53 -106 97 -104 99 26 26 244 214 248 214
                                3 0 148 -126 322 -280 l317 -280 672 595 c370 328 678 594 684 593 7 -2 47
                                -34 90 -73z" />
                        </g>
                    </svg>
                </div>
                <div class="col-md">
                    <div id="DisclaimerSection" class="row mt-3">
                        <div class="col-md-12 form-horizontal w-100">
                            <p class="disclaimer mt-md-0">
                                “Disclaimer: The above named Requesting Agency has requested that Palmetto Surety Corporation
                                cause be executed and posted a bail bond(s) commonly known as a Transfer Bond(s). Palmetto Surety
                                Corporation has honored that request.
                            </p>
                            <p class="disclaimer">
                                Upon honoring this request, it should be known that the Requesting Agency holds full liability and
                                responsibility to the described defendant(s). This shall constitute but not be limited to ensuring
                                defendant appearance, maintain track of the defendant’s case, working with the defendant to receive all
                                court notifications, and any costs/fees/loss incurred as a result of the forfeiture of the said defendant(s).
                                Failure of the Posting Agent to notify Palmetto Surety Corporation/Requesting Agency of court
                                communications is not causing the Requesting Agency to bypass liability/responsibility of said
                                defendant(s).
                            </p>
                            <p class="disclaimer mb-md-0">
                                By accepting these terms, Requesting Agency (liable agent) does hereby accept all liability for said
                                Transfer Bond(s)(identified above) under the terms of their Palmetto Surety Corporation Bail Bond
                                Agreement (liable contract). Requesting Agency, as agreed prior to the posting of the said bond(s), will
                                pay the above-listed fees for this service.”
                            </p>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row justify-content-center m-4">
                <input class="submit" type="submit" value="Submit" />
            </div>

            <div class="row justify-content-center">
                <div class="col-md-6">
                    <hr />
                </div>
            </div>

            /* Footer / copyright Section */
            <footer class="row justify-content-center">
                <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
                     width="250pt" height="125pt" viewBox="0 0 689.000000 102.000000"
                     preserveAspectRatio="xMidYMid meet">

                    <g transform="translate(0.000000,75.000000) scale(0.100000,-0.100000)"
                       fill="#000000" stroke="none">
                        <path style="fill: #8f061e;" d="M300 1610 l0 -130 120 0 120 0 0 130 0 130 -120 0 -120 0 0 -130z" />
                        <path style="fill: #163038;" d="M710 1641 c0 -49 -3 -103 -6 -120 l-6 -31 486 0 486 0 0 120 0 120 -480 0 -480 0 0 -89z" />
                        <path style="fill: #163038;" d="M5080 1097 c0 -294 2 -346 16 -365 26 -37 67 -52 144 -52 l70 0 0 60 0 59 -57 3 -58 3 -3 178 -2 177 60 0 60 0 0 55 0 54 -57 3 -58 3 -3 83 -3 82 -54 0 -55 0 0 -343z" />
                        <path style="fill: #8f061e;" d="M303 1143 c4 -207 15 -263 70 -372 59 -119 237 -282 290 -265 12 4 68 29 125 56 l103 48 -28 23 c-15 12 -48 36 -71 52 -58 39 -159 149 -187 205 -41 81 -65 203 -65 327 l0 113 -121 0 -121 0 5 -187z" />
                        <path style="fill: #163038;" d="M1003 1323 c-10 -3 -13 -38 -13 -124 l0 -119 220 0 c175 0 220 -3 220 -13 0 -7 -7 -38 -16 -68 -57 -192 -192 -324 -467 -458 -78 -37 -152 -72 -164 -75 -13 -4 -23 -11 -23 -15 0 -4 53 -32 117 -63 81 -39 121 -53 132 -48 9 5 72 35 141 68 290 136 422 260 487 456 25 76 27 93 27 271 l1 190 -325 2 c-179 1 -331 -1 -337 -4z" />
                        <path style="fill: #163038;" d="M1760 1020 c0 -208 3 -256 16 -281 26 -52 61 -59 279 -59 306 0 295 -13 295 344 l0 246 -60 0 -60 0 0 -235 0 -235 -175 0 -175 0 -2 233 -3 232 -57 3 -58 3 0 -251z" />
                        <path style="fill: #163038;" d="M2440 1210 l0 -60 235 0 236 0 -3 -57 -3 -58 -210 -6 c-115 -3 -211 -6 -213 -7 -1 -1 -11 -17 -22 -34 -26 -43 -29 -202 -4 -249 27 -54 57 -59 324 -59 l240 0 0 260 0 260 -29 32 -29 33 -261 3 -261 3 0 -61z m468 -352 l3 -58 -181 0 -180 0 0 53 c0 30 3 57 7 61 4 3 84 5 177 4 l171 -3 3 -57z" />
                        <path style="fill: #163038;" d="M3130 1266 c0 -4 0 -135 -1 -293 l0 -288 56 -3 55 -3 0 236 0 235 155 0 155 0 0 -55 0 -55 55 0 55 0 0 84 c0 75 -3 88 -24 113 l-24 28 -241 3 c-133 2 -241 1 -241 -2z" />
                        <path style="fill: #163038;" d="M3732 1213 l3 -58 233 0 232 0 0 -62 0 -63 -200 0 -200 0 -32 -29 c-32 -29 -33 -31 -36 -124 -3 -74 0 -103 13 -130 29 -63 51 -67 329 -67 l246 0 0 253 c0 234 -1 254 -20 285 -11 18 -32 37 -46 42 -14 6 -137 10 -275 10 l-250 0 3 -57z m468 -353 l0 -60 -175 0 -175 0 0 60 0 60 175 0 175 0 0 -60z" />
                        <path style="fill: #163038;" d="M4420 975 l0 -296 58 3 c42 2 57 7 58 18 1 8 2 113 3 233 l1 217 160 0 160 0 2 -232 3 -233 58 -3 57 -3 0 251 c0 283 -5 309 -60 329 -21 7 -118 11 -266 11 l-234 0 0 -295z" />
                        <path style="fill: #163038;" d="M5428 1254 c-15 -8 -32 -23 -38 -34 -6 -11 -10 -109 -10 -242 0 -190 2 -227 16 -247 32 -45 67 -51 309 -51 l225 0 0 60 0 60 -220 0 -220 0 0 60 0 60 193 0 c214 0 232 4 259 60 22 44 24 175 4 225 -25 60 -49 65 -283 65 -164 -1 -214 -4 -235 -16z m410 -156 l-3 -63 -140 -3 c-77 -2 -155 0 -172 3 -32 6 -33 7 -33 59 0 29 3 56 7 59 3 4 82 7 175 7 l169 0 -3 -62z" />
                        <path style="fill: #163038;" d="M6078 1241 l-33 -29 -3 -221 c-4 -323 -17 -311 323 -311 l225 0 0 60 0 60 -213 0 c-118 0 -216 2 -218 4 -2 2 -2 29 -1 60 l4 55 200 3 200 3 29 33 c28 31 29 35 29 137 0 102 -1 106 -29 137 l-29 33 -225 3 -226 3 -33 -30z m427 -146 l0 -60 -169 -3 c-97 -1 -172 1 -175 7 -3 5 -4 34 -3 65 l4 56 171 -2 172 -3 0 -60z" />
                    </g>
                </svg>
            </footer>
        }
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="~/Content/js/site.js"></script>
</body>
</html>
