@model CummingsAssessment.Models.Agreement

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Agreement</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BondTransfer.SerialNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BondTransfer.SerialNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Defendant.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Defendant.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Indemnitor.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Indemnitor.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Jail.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Jail.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProvidingAgency.AgentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProvidingAgency.AgentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RequestingAgency.AgencyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequestingAgency.AgencyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdditionalInformation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdditionalInformation)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
