@model CummingsAssessment.Models.Agreement

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Agreement</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BondTransfer.SerialNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BondTransfer.SerialNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Defendant.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Defendant.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Indemnitor.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Indemnitor.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Jail.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Jail.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProvidingAgency.AgentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProvidingAgency.AgentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RequestingAgency.AgencyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequestingAgency.AgencyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdditionalInformation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdditionalInformation)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
